@import '../theme.module.scss';


@mixin container($width: 100%){
    @include box_style_compelation();
    padding: 1em;
    margin: 0;
    box-shadow: none;
    width: $width;
    background-color: rgb(54, 54, 54);
}

@mixin widgetTitleContainer(){
    width: 100%;
    color: white;
}

@mixin widgetTitle(){

}

@mixin widgetContent(){
    width: 100%;
    color: white;
}

.containerLarge{
    @include container();
    .widgetTitleContainer{
        @include widgetTitleContainer();
    }
    .widgetTitle{
        @include widgetTitle();
    }
    .widgetContent{
        @include widgetContent();
    }
    min-height: 30em;
}

.containerWide{
    @include container();
    .widgetTitleContainer{
        @include widgetTitleContainer();
    }
    .widgetTitle{
        @include widgetTitle();
    }
    .widgetContent{
        @include widgetContent();
    }
    min-height: 15em;
}

.containerSmall{
    @include container(46.2%);
    .widgetTitleContainer{
        @include widgetTitleContainer();
    }
    .widgetTitle{
        @include widgetTitle();
    }
    .widgetContent{
        @include widgetContent();
    }
    min-height: 15em;
}

